.FloatingButton {
	position: fixed;
	right: 30px;
	bottom: 30px;
}
.FloatingButton i {
	border-radius: 50%;
	width: 60px;
	height: 60px;
	line-height: 60px;
	text-align: center;
    background: #15aabf;
    font-size: 20px;
    color: #fff;
    cursor:  pointer;
}
